html, body {
	height: 100%;
}

html {
	font-family: Calibri;
}

body {
	margin: 0; /* altura do seu footer */
}

a {
	color: red;
	text-decoration: none;
}

h2 {
	color: #191970
}

#wrap {
	min-height: 100%;
	position: relative;
}

.negrito_azul {
	font-weight: bold;
	color: #191970 !important
}

#body {
	width: 900px;
	margin: 0 auto;
	padding-bottom: 100px;
}

#menu {
	margin-top: 20px;
	float: right;
}

#tabela_pesq_prod_paginator_top {
	display: none;
}

input[type=text], input[type=password], .ui-selectonemenu {
	font-size: 15px !important;
	font-weight: normal !important;
	box-shadow: none !important;
}

.ui-selectonemenu {
	width: 200px !important;
	background: white !important;
	padding: 4px !important;
}

.ui-selectonemenu label {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
}

.bloco {
	margin-bottom: 10px;
}

.cadastro input[type=text], input[type=password], .cadastro .ui-selectonemenu
	{
	margin-top: 3px;
	display: block !important;
	margin-bottom: 10px;
}

#login {
	display: block;
	text-align: right;
	color: #191970;
	padding-top: 10px;
	height: 10px;
}

#sair {
	color: #191970 !important;
}

.cadastro input[type=submit] {
	margin-top: 10px;
}

.campos_filtro {
	margin-top: 10px;
}

.filtro {
	margin-right: 5px;
	display: inline;
}

label {
	font-size: 15px !important;
	font-weight: bold;
}

button, input[type=submit] {
	background: #191970 !important;
	color: white !important;
	border: none;
	padding: 3px;
	font-weight: bold;
	font-size: 12px;
	margin-right: 5px;
	border: 2px solid yellow;
}

.ui-selectonemenu-items {
	font-size: 14px !important;
}

#menu a {
	padding-right: 20px;
}

#logo {
	margin: 50px auto;
	text-align: center;
	float: left;
	width: 900px;
}

#logo_canto {
	width: 150px;
	margin-top: 20px;
}

.botao_filtrar {
	margin-left: 10px;
}

.botao_cadastrar {
	margin-top: 10px;
}

.botoes_dialog {
	margin-top: 25px
}

.botoes_dialog button {
	margin-right: 10px
}

.botao_cancelar {
	float: right;
}

table {
	margin-top: 20px;
}

table th {
	background: #191970 !important;
	color: white !important;
	border-right: 1px solid white !important;
	border-top: none !important;
	text-decoration: none;
	font-weight: normal !important;
	padding: 5px !important;
}

table td {
	padding: 10px 5px !important;
}

.texto_centro {
	text-align: center;
}

.flInativo_0 {
	color: green;
}

.flInativo_1 {
	color: red;
}

#rodape {
	text-align: center;
	color: yellow;
	position: absolute;
	bottom: 0;
	background: #191970;
	padding-bottom: 10px;
	width: 100%;
	height: 80px;
	border-bottom: yellow 2px solid;
}

#rodape a {
	color: yellow;
}